html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

i{
    all: unset;
    margin-right: 8px;
}

ul{
    all: unset;
    cursor: pointer;
}

button{
    all: unset;
    text-align: center;
}

input{
    all: unset;
}

#sidebar{
    display: inline-block;
    flex: 1;
    height: 100%;
    background-color: #43425d;
}

#sidebar #title{
    width: 90%;
    height: 8%;
    padding-left: 10%;
    color: white;
    font-size: 15px;
    line-height: 66px;
    font-weight: bold;
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.1);
}

#sidebar .list-index{
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-family: fontAwesome;
}

#sidebar .index-text{
    display: inline-block;  
}

#sidebar .mark{
    display: inline-block;
    width: 8%;
    height: 100%;
    background-color: #a3a0fb;
}

#sidebar .selected-list-index{
    width: 100%;
    color: #a3a0fb;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: fontAwesome;
}

#content-container{
    display: inline-block;
    flex: 6;
    height: 100%;
    background-color: #f0f0f7;
    padding: 0px 6%;
}

#content-container #index-title{
    font-size: 28px;
    color: #43425d;
    text-align: left;
    margin: 7% 0 3% 0;
}

#content-container #content{
    width: 100%;
    height: 75%;
    background-color: white;
    display: flex;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
}

#content-container #content #lower-sidebar{
    display: inline-block;
    flex: 2;
    border-right: solid #f0f0f7 2px;
}

#content #lower-sidebar li{
    all: unset;
    display: block;
    margin: 10% 10%;
}

#content #lower-sidebar #btn-container{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid #f0f0f7 2px;
}

#content #lower-sidebar #inbox-list{
    border-bottom: solid #f0f0f7 2px;
    font-size: 13px;
}

#content #lower-sidebar #btn-container #compose-btn{    
    width: 80%;
    height: 50%;
    background-color: #3b86ff;
    border-radius: 4px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

#content #tag-list .title{
    font-weight: bold;
    margin: 10%;
}

#content #tag-list .lower-index{
    font-size: 13px;
    font-family: fontAwesome;
    position: relative;
}

#content #tag-list .lower-index .number{
    display: inline;
    position: absolute;
    right: 0;
    margin: 0;
    margin-right: 5%;
}

#sales .fas.fa-circle{
    color: #a3a0fb;
}

#marketing .fas.fa-circle{
    color: #3b86ff;
}

#design .fas.fa-circle{
    color: #ff6565;
}

#frontend .fas.fa-circle{
    color: #7865ff;
}

#content-container #content #message-list-container{
    display: inline-block;
    flex: 3;
    border-right: solid #f0f0f7 2px;
}

#message-list-container #search-container{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid #f0f0f7 2px;
}

#message-list-container #search-container #message-search{
    width: 75%;
    height: 40%;
}

#message-list-container #message-list{
    height: 90%;
    overflow-y: scroll;
}

#message-list-container #message-list .message-content{
    all: unset;
    display: block;
    border-bottom: solid #f0f0f7 2px;
    padding: 5% 10%;
    cursor: pointer;
    height: 6%;
    position: relative;
}

#message-list-container #message-list .selected-message-content{
    all: unset;
    display: block;
    border-bottom: solid #f0f0f7 2px;
    padding: 5% 10%;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 6%;
    position: relative;
}

#message-list-container #message-list .name{
    font-weight: bold;
}

#message-list-container #message-list .date{
    float: right;
    font-size: 12px;
    position: absolute;
    right: 0;
    margin-right: 10%;
}

#message-list-container #message-list .text{
    font-size: 14px;
}

#content #selected-message{
    display: inline-flex;
    flex-direction: column;
    flex: 7;
}

#content #selected-message #user{
    border-bottom: solid #f0f0f7 2px;
    flex: 1;
    padding: 5% 8%;
}

#content #selected-message #user #sales{
    display: inline-block;
    background-color: #a3a0fb;
    border-radius: 50px;
    padding: 1% 3%;
    color: white;
    font-weight: bold;
    font-size: 13px;
    margin-right: 10px;
}

#content #selected-message #user #marketing{
    display: inline-block;
    background-color: #3b86ff;
    border-radius: 50px;
    padding: 1% 3%;
    color: white;
    font-weight: bold;
    font-size: 13px;
    margin-right: 10px;
}

#content #selected-message #user #design{
    display: inline-block;
    background-color: #ff6565;
    border-radius: 50px;
    padding: 1% 3%;
    color: white;
    font-weight: bold;
    font-size: 13px;
    margin-right: 10px;
}

#content #selected-message #user #frontend{
    display: inline-block;
    background-color: #7865ff;
    border-radius: 50px;
    padding: 1% 3%;
    color: white;
    font-weight: bold;
    font-size: 13px;
    margin-right: 10px;
}

#content #selected-message #user #name{
    font-weight: bold;
    position: absolute;
    top: 0;
}

#content #selected-message #user .upper-box{
    margin-bottom: 5%;
}

#content #selected-message #user .lower-box{
    position: relative;
}

#content #selected-message #user #title{
    font-size: 21px;
}

#content #selected-message #user #date{
    font-size: 13px;
    float: right;
}

#content #selected-message #user #to{
    font-size: 13px;
    display: inline;
    position: absolute;
    bottom: 0;
}

#content #selected-message #text{
    flex: 6;
    padding: 8%;
    word-break: break-all;
    overflow-y: scroll;
}

#img{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 3%;
}

.mail-tag-list{
    display: inline-block;
    width: 3%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.mail-tag-list-sales{
    background-color: #a3a0fb;
    display: inline-block;
    width: 3%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.mail-tag-list-marketing{
    background-color: #3b86ff;
    display: inline-block;
    width: 3%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.mail-tag-list-design{
    background-color: #ff6565;
    display: inline-block;
    width: 3%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.mail-tag-list-frontend{
    background-color: #7865ff;
    display: inline-block;
    width: 3%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}